.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.message__text {
  font-size: 80px;
}

.message__second--text {
  font-size: 30px;
}
